<%- include('partials/header') %>

<div class="ui main text container">
    <div class="ui huge header">My Meetings</div>
    <div class="ui top attached segment">
        <div class="ui divided items">
           <div class="content">
            <% meeting.forEach(function(data){ %>

                <p><em><b>Title:</b></em> <%= data.title %></p>

                <p><em><b>Timing:</b></em> <%= data.timing %></p>
                <p><em><b>With:</b></em> <%= data.withw %></p>




                <form style="display: inline;" action="/meetings/<%= data._id %>/edit"?_method=put method="post">
                    <input type="hidden" id="custId" name="custId" value="3487">
                    <button class="ui primary basic button mini ui button"><i style="font-size: 2.0em;" class="pencil alternate  alternate icon"></i></button>
                </form>

                <form style="display: inline;" action="/meetings/<%=data._id%>?_method=DELETE" method="post">

                    <button class="ui negative basic button mini ui button"> <i style="font-size: 2.0em;" class="trash alternate  alternate icon"></i> </button>
                    <h3 class="ui header" style="text-align: center">_________________________________________________</h3>
                </form>
            <% }); %>

           </div>

        </div>
        </div> <!-- divided items -->
    </div> <!-- top attached segment -->
</div> <!-- main text container -->




<!--<div class="container show">-->


<!--        -->


<!--</div>-->


<%- include('partials/header') %>